@import "./../../../../styles/helpers";
@import "./../../../../styles/variables";

.container {
  // background: $background-gradient;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
      height: 5em;
      background-image: url("../../../../assets/images/hawk-logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
    }
    .forgotten-password {
      display: flex;
      justify-content: right;
    }
    .login {
      .action-buttons {
        margin-top: 1em;
        display: flex;
        justify-content: center;
      }

      .form-field {
        .eye-icon {
          position: relative;
          // bottom: 0.37em;
          opacity: 0.28;
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .forgotten-password {
        span {
          color: $menu-item-grey;
          cursor: pointer;
        }
      }
    }
  }
}



:host {
  .main-container .sidenav-content .main-content {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }
}
